<% include ../common/header.html %>
	<div class="cm_main2">
		<div class="cm_main cm_pr">
		   <% include ../components/head.html %>
			<ul class="cm_pc_12 cm_mtb3">
				<li class="cm_pc_12 cm_mtb1">
					<div class="img_logo cm_wh7 cm_bs100 cm_br305 cm_fc"></div>
				</li>
				<li class="cm_pc_12 cm_be cm_mb05">
					<div class="cm_pc_12 cm_pd05 cm_bf cm_lh105 cm_ti2 cm_mb05">
						<%=indexData.description%>
					</div>
				</li>
				<li class="cm_pc_12 cm_prl05 cm_tc">
					<div class="cm_w5 cm_prl05 cm_be cm_hl2">
						<%=indexData.gitName%>
					</div>
				</li>
				<li class="cm_pc_12 cm_prl05 cm_hl2 cm_ti2">
					<a href="<%=indexData.gitUrl%>" target="_blank">
						<%=indexData.gitUrl%>
					</a>
				</li>
				<li class="cm_pc_12 cm_prl05 cm_tc">
					<div class="cm_w5 cm_prl05 cm_be cm_hl2">
						<%=indexData.cooperation%>
					</div>
				</li>
				<li class="cm_pc_12 cm_prl05 cm_hl2 cm_ti2">
					<a href="mailto:<%=indexData.email%>" target="_blank">
						<%=indexData.email%>
					</a>
				</li>
			</ul>
			<% include ../components/foot.html %>
		</div>
	</div>
	<script src="<%=site.path%>/bundle/index_index.js"></script>
	<% include ../common/footer.html %>