<ul class="foot-fixed">
    <ul class="cm_main cm_pr cm_bt1ce cm_tc">
        <%var mlen = menu.length;
          for(var i=0;i<mlen;i++){%>
            <li class="cm_pc_4 cmt2 <%if(site.url==menu[i].url){%>active<%}else{%>cm_c4c<%}%>">
                <a href="<%=menu[i].url%>">
                    <div class="cm_pc_12">
                        <div class="cm_wh105 cm_bs100 cm_fc cm_pr atimg">
                            <%if(site.url==menu[i].url){%>
                                <img src="<%=menu[i].imgon%>" class="cm_wh100 cm_bs100" />
                            <%}else{%>
                                <img src="<%=menu[i].img%>" class="cm_wh100 cm_bs100" />
                            <%}%>
                        </div>
                        <div class="cm_hl105 atxt">
                            <span class="cm_fs08">
                                <%=menu[i].name%>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <%}%>
    </ul>
</ul>